.globalNavi {
  background-color: rgba(0,82,33,0.9);
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: 0 3px 15px rgba(0,0,0,0.4);
}

.globalNavi .globalLogo {
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.globalNavi .globalLogo:hover {
  text-shadow: 0px 0px 15px #fff;
}

.globalNavi .globalLogo_accent {
  text-align: center;
  color: #c18e39;
  text-shadow: 0px 0px 1px #c18e39;
  font-weight: 500;
}

.globalNavi .globalLogo:hover .globalLogo_accent {
  text-shadow: 0px 0px 15px #c18e39;
}

.globalNavi .globalMenu {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
}

.globalNavi .globalMenu_item {
  color: #fff;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 1.3rem;
  position: relative;
  opacity: 0.5;
}

.globalNavi .globalMenu_item:hover {
  opacity: 1;
}

.globalNavi .globalMenu_item::after {
  content: '';
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #fff;
}

.globalNavi .globalMenu_item:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
