.mailFormWrapper {
  background-color: #96d28e;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.mailForm {
  color: #2f4b33;
}

.mailForm input::-webkit-input-placeholder,.mailForm textarea::-webkit-input-placeholder {
  color: #ccc;
}

.mailForm input::-moz-placeholder,.mailForm textarea::-moz-placeholder {
  color: #ccc;
}

.mailForm input:-ms-input-placeholder,.mailForm textarea:-ms-input-placeholder {
  color: #ccc;
}

.mailForm input::placeholder,.mailForm textarea::placeholder {
  color: #ccc;
}

.mailForm .required::after {
  content: '必須';
  display: inline-block;
  width: 2.5em;
  font-size: 0.7em;
  text-align: center;
  vertical-align: middle;
  background-color: #2f4b33;
  color: #fff;
  padding: 0.1em;
  margin: 0 0.5em 0 0.5em;
}

.mailForm_textArea {
  width: 100%;
  height: 7em;
  margin-top: 1rem;
}

.mailForm_text {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.mailForm_textArea,.mailForm_text,.mailForm_select {
  border: none;
  padding: 0.3rem;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
  background-color: rgba(255,255,255,0.7);
}

.mailForm_textArea:hover,.mailForm_text:hover,.mailForm_select:hover {
  background-color: rgba(255,255,255,0.9);
}

.mailForm_textArea:focus,.mailForm_text:focus,.mailForm_select:focus,.mailForm_textArea:valid,.mailForm_text:valid,.mailForm_select:valid {
  background-color: #fff;
  border: 1px solid #2f4b33;
}

.mailForm_textLabel {
  display: block;
  margin-bottom: 0.5rem;
  color: #2f4b33;
}

.mailForm_selectLabel {
  padding-right: 1rem;
  color: #2f4b33;
}

.mailForm_select {
  margin: 0.5rem 0 0.5rem 0;
}

.mailForm_buttonWrapper {
  text-align: right;
  padding: 0;
}

.mailForm_button {
  border: #808080 1px;
  background-color: #2f4b33;
  color: #fff;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 1rem 0 0 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.mailForm_button:hover {
  box-shadow: 0 3px 15px rgba(0,0,0,0.4);
}
