<header class="globalHeader">
  <nav class="globalHeader_navi globalNavi">
    <h1 class="globalNavi_logo globalLogo"><a href="{{ pathToTop }}">名大<span class="globalLogo_accent">総</span>診</a></h1>
    <ul class="globalNavi_menu globalMenu">
      <li class="globalMenu_item"><a href="{{ pathToTop }}">研修&amp;スタッフ募集</a></li>
      <li class="globalMenu_item"><a href="{{ pathToTop }}">私たちの活動</a></li>
      <li class="globalMenu_item"><a href="{{ pathToTop }}">問い合わせ</a></li>
      <li class="globalMenu_item globalMenu_item-current"><a href="">アクセス</a></li>
    </ul>
  </nav>
</header>
