<div class="siteTitlePanel">
  <h1 class="siteTitlePanel_title siteTitle">
    <span class="siteTitle_mainTitle">名大総診</span>
    <small class="siteTitle_subTitle">
      <span class="subTitle_acronym">名</span>古屋<span class="subTitle_acronym">大</span>学院医学系研究科<span class="subTitle_acronym">総</span>合<span class="subTitle_acronym">診</span>療医学
    </small>
    <small class="siteTitle_subTitle subTitle">
      <span class="subTitle_acronym">名</span>古屋<span class="subTitle_acronym">大</span>学医学部附属病院<span class="subTitle_acronym">総</span>合<span class="subTitle_acronym">診</span>療科
    </small>
  </h1>
  <dl class="concepts">
    <dt class="concepts_title">コンセプト</dt><dd class="concepts_content">どう考える? <wbr>そんな問いが私をのばす</dd>
    <dt class="concepts_title">コンセプト</dt><dd class="concepts_content">教えることは、<wbr>自分も育てること</dd>
    <dt class="concepts_title">コンセプト</dt><dd class="concepts_content">遊び心も、<wbr>大切に</dd>
  </dl>
</div>
