.icon:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-fw {
  width: 1.285714285714286em;
  text-align: center;
}

.icon-double-down:before {
  content: "\EA01";
}

.icon-double-left:before {
  content: "\EA02";
}

.icon-double-right:before {
  content: "\EA03";
}

.icon-double-up:before {
  content: "\EA04";
}

.icon-email:before {
  content: "\EA05";
}

.icon-facebook:before {
  content: "\EA06";
}

.icon-home:before {
  content: "\EA07";
}

.icon-keyboard_arrow_down:before {
  content: "\EA08";
}

.icon-keyboard_arrow_left:before {
  content: "\EA09";
}

.icon-keyboard_arrow_right:before {
  content: "\EA0A";
}

.icon-keyboard_arrow_up:before {
  content: "\EA0B";
}

.icon-mail:before {
  content: "\EA0C";
}

.icon-pin:before {
  content: "\EA0D";
}

.icon-play-youtube:before {
  content: "\EA0E";
}

.icon-play:before {
  content: "\EA0F";
}

.icon-rss:before {
  content: "\EA10";
}

.icon-share:before {
  content: "\EA11";
}

.icon-twitter:before {
  content: "\EA12";
}

@font-face {
  font-family:"iconfont";src:url("../../icons/fonts/iconfont.eot");src:url("../../icons/fonts/iconfont.eot?#iefix") format('eot'), url("../../icons/fonts/iconfont.woff") format('woff'), url("../../icons/fonts/iconfont.ttf") format('truetype'), url("../../icons/fonts/iconfont.svg#iconfont") format('svg');font-weight:normal;font-style:normal;
}
