//
//   サイトトップページのパネルををスタイリング
//   責任者 近藤猛
//
// ncukonodo@gmail.com
//

@require "../mixins/_layout"; // タイトルパネルのスタイル読込
@require "../_variables"; // タイトルパネルのスタイル読込


$fontColor = $colorMenuText1;
$backImage =  "prof_round.jpg"; // アニメーションが無いときのためのバックグラウンド
$dotImage= "dotpattern.png";

$panelImage1 =  "教授回診.jpg";
$panelImage2 =  "S__5570565.jpg";
$panelImage3 = "忘年会2013.jpg";


.siteTitlePanel{
  height: 90vh; // ビューポートの高さとの割合でにパネル高さを設定
  display: block;
  position: relative;
  background-color:  black;
  text-align: center;
  overflow: hidden;
  &::after{
    display: block;
    position: absolute;
    top: 0; left:0;
    width:100%;
    height:100%;
    content: '';
    background:rgba(0, 0, 0, 0.2)  url($dirImage/$dotImage) repeat top left; // ドットイメージ高解像度ディスプレイ対策
    box-shadow: 0 0 15vw 10vw rgba(0,0,0,0.5) inset;
  }
  // アニメーションが無いときのためのバックグラウンド
  &:before{
    _centerBox();
    content: '';
    background: url($dirImage/$backImage);
    background-size: cover;
    background-position: center;
  }
  &_title{
    _centerBox();
    height: 3rem;
  }
  .siteTitle{
    color:  $fontColor;
    z-index: 1;
    padding: 0;
    &_mainTitle{
      padding: 0;
      font-size: 3rem;
      margin: auto;
      width:5em;
      font-weight: 500;
      letter-spacing: 0.2em;
    	animation: blurShrink 2s both .5s;
      display:block;

      // タイトルのアンダーラインを作成
      &::before{
        content: '';
        position: absolute;
        animation: expand 1s both 2s;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $fontColor;
      }
    }
    &_subTitle{
      display: block;
      font-size: 0.7rem;
      letter-spacing: 0.1em;
      animation: blurUp 1s both 3s;
    }
  }

  .subTitle{
    &_acronym{
      font-weight:600;
    }
  }
}



@keyframes expand{
	0% {
    transform: scaleX(0);
	}
	100% {
    transform: scaleX(1);
	}
}

@keyframes blurShrink {
	0% {
    opacity: 0;
    color: transparent;
		text-shadow: 0 0 30px $fontColor;
    transform: scaleX(1.1);
	}
	100% {
    color: $fontColor;
    text-shadow: none;
    text-shadow: 0 0 30px $fontColor;
    opacity: 1;
    transform: scaleX(1);
	}
}

@keyframes blurUp {
	0% {
    opacity: 0;
		text-shadow: 0 0 0.5em #fff;
    transform: translate(0, 1em);
	}
	100% {
    text-shadow: none;
    opacity: 1;
    transform: translate(0, 0);
	}
}
