//
//  gulpのタスク gulp iconfileによって自動生成
//  配下のsvgファイルから自動生成
//  テンプレートファイルは "./icons/templates/_iconfont.styl"に置いてある
//
//  責任者: 近藤猛
//  2016/02/12 作成(近藤)
@require "_variables"

@font-face {
  font-family: "iconfont";
  src: url('{$dirIconFont}iconfont.eot');
  src: url('{$dirIconFont}iconfont.eot?#iefix') format('eot'),
    url('{$dirIconFont}iconfont.woff') format('woff'),
    url('{$dirIconFont}iconfont.ttf') format('truetype'),
    url('{$dirIconFont}iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

$iconCode = {
   double-down:  "\EA01"
   double-left:  "\EA02"
   double-right:  "\EA03"
   double-up:  "\EA04"
   email:  "\EA05"
   facebook:  "\EA06"
   home:  "\EA07"
   keyboard_arrow_down:  "\EA08"
   keyboard_arrow_left:  "\EA09"
   keyboard_arrow_right:  "\EA0A"
   keyboard_arrow_up:  "\EA0B"
   mail:  "\EA0C"
   pin:  "\EA0D"
   play-youtube:  "\EA0E"
   play:  "\EA0F"
   rss:  "\EA10"
   share:  "\EA11"
   twitter:  "\EA12"

}

_iconFont($code)
  _iconBefore($code)

_iconBefore($code)
  &:before
    display: inline-block;
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: $iconCode[$code]