// 作成 近藤猛
// ncukondo@gmail.com
// キャッシュしてはき出す仕組みについては以下を参照し組み立てた
// http://kizu.ru/en/issues/new-stylus-features/
// 2016/02/12 作成(近藤)

@require'../_variables'

// Define the cache and the aliases
$media_cache = {}
$media_aliases = {
  phone:           '(max-width: %s)' % $screen-phone-max
  phone-and-less:  '(max-width: %s)' % $screen-phone-max
  tablet:          '(min-width: %s) and (max-width: %s)' % ($screen-tablet $screen-tablet-max)
  tablet-and-less: '(max-width: %s)' % ($screen-tablet-max)
  tablet-and-more: '(max-width: %s)' % ($screen-tablet-max)
  pc:              '(min-width: %s) and (max-width: %s)' % ($screen-pc $screen-pc-max)
  pc-and-less:     '(max-width: %s)' % ($screen-pc-max)
  pc-and-more:     '(min-width: %s)' % ($screen-pc)
  largepc:         '(min-width: %s)' % ($screen-largePc)
  largepc-and-more:'(min-width: %s)' % ($screen-largePc)
}

// Mixin for caching the blocks with the given conditions
_media($condition='')
  if $condition != ''
    _helper($condition)
      unless $media_cache[$condition]
        $media_cache[$condition] = ()
      push($media_cache[$condition], block)

    +_helper($condition)
      {selector() + ''}
        {block}
  else
    {block}

_hide($media='')
  +_media($media)
    diaplay none !important

// Function we would use to call all the cached styles
_apply_media_cache()
  for $media, $blocks in $media_cache
    $dummy = remove($media_cache, $media)
    $media = unquote($media_aliases[$media] || $media)
    $media = '(%s)' % $media unless match('\(', $media)
    $media = 'only screen and %s' % $media
    @media $media
      for $block in $blocks
        {$block}
