/*
 *  サイトのカラーテーマを定義
 *  責任者 近藤猛
 */
// ncukonodo@gmail.com
//
//  2016/01/31 近藤作成
//

$colorPrimaryText: #000000;
$colorPrimaryBack: #ffffff;
$colorSecondaryBack: #dddddd;
$colorMenuBackTrans: rgba(0,82,33,0.7);
$colorMenuBack: #004F21;
$colorMenuText1: #fffff;
$colorMenuText2: rgba(255,255,255,0.4);
