/*
 *  サイト全体変数を定義
 *  責任者 近藤猛
 */
// ncukonodo@gmail.com
//
//  2016/01/31 近藤作成
//

// ディレクトリに関する変数
$dirImage: "../../images";

// フォントを設定
$fontBase:'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ', Helvetica,  sans-serif;


// 色に関する変数
$colorPrimaryText: #000000;
$colorAccentText: #004F21;
$colorPrimaryBack: #ffffff;
$colorBack2: #dddddd;
$colorBack3: #96D28E;
$colorMenuBackTrans: rgba(0,82,33,0.9);
$colorSubMenuBack: #5D915D;//#004F21;
$colorMenuBack: #2F4B33; //#395939;//#004F21;
$colorMenuText1: #ffffff;
$colorMenuText2: rgba(255,255,255,0.6);
$colorGrayText: #cccccc;
$colorHighlightText: #7EC988;
$colorAccentBack: #395939;
$colorAccentBackText: #ffffff;
$colorDarkAreaText: #ffffff;

// スクリーンの横幅に関する変数(主にはbootstrap3に習う)
// Width
$width-largepc: 1170px;
$width-pc: 940px;
$width-tablet: 768px;
$width-smartphone: 480px;
$width-scrollbar: 20px;

// スマートフォン
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// タブレット
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// PC
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;
$screen-pc:             $screen-md-min !default;

// 大きなPC
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;
$screen-largePC:             $screen-lg-min !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
