/*
 *  サイトのmediaqueryを定義
 *  責任者 近藤猛
 */
// ncukonodo@gmail.com
//
// 参考サイト http://memo.brdr.jp/post/69775458119/sass-32%E4%BB%A5%E4%B8%8A%E3%81%AA%E3%82%89%E3%83%AC%E3%82%B9%E3%83%9D%E3%83%B3%E3%82%B7%E3%83%96%E3%81%8C%E7%B0%A1%E5%8D%98
//  2016/01/31 近藤作成
//

@import "config";

// Width
$width-largepc: 1170px;
$width-pc: 940px;
$width-tablet: 768px;
$width-smartphone: 480px;
$width-scrollbar: 20px;

@mixin mq-largepc {
  @media only screen and (min-width: $screen-lg-min) {
    @content;
  }
}
@mixin mq-lg {
  @media only screen and (min-width: $screen-lg-kin) {
    @content;
  }
}
@mixin mq-pc {
  @media only screen and (min-width: $screen-md-min)  and (max-width: $screen-md-max){
    @content;
  }
}
@mixin mq-md {
  @media only screen and (min-width: $screen-md-min){
    @content;
  }
}
@mixin mq-smaller-than-pc {
  @media only screen and (max-width: $screen-sm-max)  {
    @content;
  }
}

@mixin mq-larger-than-tablet {
  @media only screen and (min-width: $screen-md-min) {
    @content;
  }
}
@mixin mq-sm {
  @media only screen and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin mq-tablet {
  @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}
@mixin mq-larger-than-smartphon {
  @media only screen and (min-width: $screen-xs-max) {
    @content;
  }
}
@mixin mq-xs {
  @media only screen and (min-width: $screen-xs-max) {
    @content;
  }
}

@mixin mq-smartphone {
  @media only screen and (max-width: $screen-xs-max) {
    @content;
  }
}
