/*
 *  サイト共通スタイルユニット
 *  責任者 近藤猛
 */
// ncukonodo@gmail.com
// コーディング規則にはBEMを使用する(一部以下のようにアレンジ)
//    右記を参照 http://qiita.com/mrd-takahashi/items/07dc3b4bad027daa2884
//    BlockとElement間セパレータ "_"シングルアンダーバー
//    Modifierセパレータ "-" ハイフン1つ
//    ModifierのKeyとValueの区切りはローワーキャメルケース
//    単語間の区切りはローワーキャメルケース
//  2016/01/25 作成

@import "config"; // 共通設定を読み込み
@import "normalize"; // normalizeを使用するためcompass-normalize使用(https://necolas.github.io/normalize.css/3.0.3/normalize.css)
@import "notosansjapanese"; // Noto-Sansを使えるように
@import "iconFonts"; // アイコンフォントを読み込み
@import "mediaQueries"; // メディアクエリ読み込み mq-largepc, mq-pc, mq-tablet, mq-smartphone の4段階
@import "siteTitlePanel";

// baseの記述(SMACSSの概念)

body{
  font-family: $fontBase;
  font-weight: 300;
  box-sizing: border-box;
  background: $colorPrimaryBack;
}
h1{
  font-family: $fontBase;
  font-weight: 200;
}
li{
  list-style: none;
}

address{
  font-style: normal;
}

header, nav, h1, ul{
  padding:0;
  margin:0;
}

a{
  text-decoration: none;
  color:inherit;
}

// 以下レイアウト(SMACSSの概念)
.l-fullContainer-maxPC{
  position: relative;
  &_content{
    max-width: $screen-md-max;
    margin-left: auto;
    margin-right: auto;
    right:0;left:0;
  }
}
@import "l-grid12";

// 以下BEM
.headerMenu{
  background-color: $colorMenuBackTrans;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  transition-duration: .3s;
  box-shadow: 0 3px 15px rgba(0,0,0,0.4);
  &_headerLogo{
    text-shadow: 0px 0px 1px white;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    transition-duration: .2s;
    &:hover{
      text-shadow: 0px 0px 15px white;
    }
  }
  &_menuList{
    display: flex;
    vertical-align:middle;
    color:$colorMenuText1;
  }
}


.headerLogo{
  &_accent{
      text-align: center;
      color:$colorHighlightText;
      font-weight: 500;
  }
}

.headerMenuList{
  &_item{
    transition-duration: .3s;
    opacity: 0.5;
    padding: 1.3rem;
    position: relative;
    // メニューのアンダーラインを作成
    &::after{
      content: '';
      position: absolute;
      transform: scaleX(0); //最初は消えている
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      transition-duration: .3s;
      background-color: $fontColor;
      &:hover{
        transform: scaleX(1);
      }
    }

    &:hover{
      opacity: 1;
      &::after{
        transform: scaleX(1);
      }
    }
  }
}

@keyframes expand{
	0% {
    transform: scaleX(0);
	}
	100% {
    transform: scaleX(1);
	}
}


.articlesWrapper{
  position: relative;
  &_articles{
    padding: 2rem 1rem 2rem 1rem;
    @include mq-largepc{
      width:$width-pc;
      right:0;left:0;margin:auto;
      padding: 2rem 0 2rem 0;
    }
  }
}

.articles{
  &_title{
    padding: 0 0 1rem 0;
    color : $colorAccentText;
    font-size: 3rem;
    @include mq-smaller-than-pc{
      font-size: 2rem;
      font-weight: 500;
    }

  }
}

.cardsWrapper{
    display: flex;
    justify-content: space-between;
}

.videoClipWrapper{
  position: relative;

  &:hover &_videoClip::after{
    transition-duration:.3s;
    text-shadow: 0px 0px 3rem white;
    transform: scale(1.5);
  }

  &_videoClip{
    &::after{
      font-family: $iconFontFamily ;
      content: $icon-play;
      line-height: 1em;
      text-align: center;
      vertical-align: middle;
      font-size: 3rem;
      color: white;
      position: absolute;
      top: 0; left:0; bottom:0; right:0;
      margin: auto;
      width:3rem;
      height:3rem;
      text-shadow: 0px 0px 0.5rem white;
    }
  }
}

.videoClip{
  &_thumbnail{
    width: 100%;
    filter:grayscale(50%) brightness(50%);
  }
}

.banVideoArticleWrapper{
  background-color: $colorPrimaryBack;
}

.banVideo{
  @include mq-larger-than-tablet{
    flex-wrap: nowrap;
  }
  @include mq-smaller-than-pc{
    flex-wrap: wrap;
  }
  &_titleSection, &_videoSection{
    display: block;
  }
  &_videoSection{
    flex-shrink: 0;
    @include mq-larger-than-tablet{
      width:50%;
    }
    @include mq-smaller-than-pc{
      width:100%;
    }
  }
  &_titleSection{
    @include mq-larger-than-tablet{
      padding-right: 2rem;
    }
    width:auto;
  }
}


.interviewsWrapper{
  background-color: $colorBack2;
}

.interviewWrapper{
  flex-wrap: wrap;
  perspective: 50px;
}

.interview{
  background-color: $colorPrimaryBack;
  transition-duration: .3s;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  margin-bottom: 1rem;
  overflow: hidden;
  @include mq-larger-than-tablet{
    width: 23%;
  }
  @include mq-tablet{
    width: 48%;
  };
  @include mq-smartphone{
    width: 100%;
  }
  @include mq-smaller-than-pc{
    display:flex;
    align-items:center;
  }
  transform:translateZ(0px);
  &:hover{
    box-shadow: 1px 1px 2rem rgba(0,0,0,0.5);
    transform:translateZ(1px);
  }

  &_image{
    @include mq-smaller-than-pc{
      height: 7rem;
    }
  }
  &:hover &_image{
  }
  &_Description{
  }
}

.interviewImage{
  &_image{
    @include mq-smaller-than-pc{
      height: 100%;
      width: auto;
    }
    @include mq-larger-than-tablet{
      width: 100%;
      height:auto;
    }
  }
}

.interviewDescription{
  transition-duration: .3sec;
  padding: 1rem;
  @include mq-smaller-than-pc{
    padding: 0 0.5rem 0 0.5rem;
  }
  &_title{
      font-size: 1.5rem;
      @include mq-smaller-than-pc{
        font-size: 1rem;
        font-weight: 400;
      }
  }
  &_footer{
    color: $colorGrayText;
    font-size: 0.8rem;
    margin-bottom:2rem;
    text-align: right;
    @include mq-smaller-than-pc{
      font-size: 0.7rem;
    }
  }
  &_link{
    position: absolute;
    bottom:0.5rem;
    right: 0.5rem;
    text-align: right;
    color: $colorHighlightText;
    @include mq-smaller-than-pc{
      font-size: 0.8rem;
    }
  }
}

.basicConteptsWrapper{
  perspective: 500px;
  background: transparent;
  overflow: hidden;
  z-index: 2;
  &::before{
    content: '';
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top:0; left:0; right: 0; bottom: 0;
    margin: auto;
    transform:translateZ(-400px) scale(4);
    filter:grayscale(50%) contrast(30%) blur(3px) brightness(180%);

    background:{
      size: cover;
      position: center;
      image: url(#{$dirImage}/profban.jpg);
      attachment: fixed;
      repeat: no-repeat;
    }
  }
}

.basicConceptWrapper{
  @include mq-larger-than-tablet{
    flex-wrap: nowrap;
  }
  @include mq-smaller-than-pc{
    flex-wrap: wrap;
  }
}

.basicConcepts{
  background: transparent;
  transform:translateZ(90px) scale(.8);
  z-index: 3;
}



.basicConcept{
  @include mq-larger-than-tablet{
    width:30%;
  }
  @include mq-smaller-than-pc{
    padding:1rem;
  }
}

.programsWrapper{
  background-color: $colorAccentBack;
  color: $colorAccentBackText;
  height:90vh;
}

.programWrapper{
}

.programs{
  &_title{
    color: $colorAccentBackText;
    display: block;
    position: absolute;
    width: 100%;
    height: 1em;
    text-align: center;
    top:0;left:0;right:0;bottom:0;
    margin: auto;
  }
}


.mailSectionContainer{
  @include mq-smaller-than-pc{
    background-color: $colorBack3;
  }
  @include mq-larger-than-tablet{
    overflow: hidden;
    &::before{
      content: '';
      width: 100vw;
      height: 150vh;
      z-index: -1;
      position: absolute;
      top:0; left:0; right: 0; bottom: 0;
      margin: auto;
      filter:grayscale(50%) brightness(50%);

      background:{
        size: cover;
        position: center;
        image: url(#{$dirImage}/20150425_095400.jpg);
        attachment: fixed;
        repeat: no-repeat;
      }
    }
  }
}

.mailSection{
  @include mq-larger-than-tablet{
    &_title{
      color:$colorAccentBackText;
    }
  }
}

.mailSectionContent{
  @include mq-larger-than-tablet{
    display: flex;
    justify-content: space-between;
    color:$colorAccentBackText;
    &_description{
      width:45%;
    }
  }
  @include mq-smaller-than-pc{
    &_description{
      padding: 1rem 0 1rem 0;
      font-size: 0.8em;
    }
  };
}
.mailFormWrapper{
  background-color: $colorBack3;
  @include mq-larger-than-tablet{
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
  &_content{
  }

}


.mailForm{
  color: $colorMenuBack;

  & input::placeholder, & textarea::placeholder{
    color:$colorGrayText;
  }
  &_required::after{
    content: '必須';
    display: inline-block;
    width: 2.5em;
    font-size: 0.7em;
    text-align: center;
    vertical-align: middle;
    background-color: $colorMenuBack;
    color: white;
    padding: 0.1em;
    margin: 0 0.5em 0 0.5em;
  }

  &_textArea{
    width: 100%;
    height: 7em;
    margin-top: 1rem;
    border: none;
  }
  &_text{
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    border: none;
  }
  &_textLabel{
    display: block;
    margin-bottom: 0.5rem;
    color: $colorMenuBack;

  }
  &_selectLabel{
    padding-right: 1rem;
    color: $colorMenuBack;
  }
  &_select{
    margin: 0.5rem 0 0.5rem 0;
    border: none;
  }
  &_buttonWrapper{
    text-align: right;
    padding: 0;
  }
  &_button{
    border: gray 1px;
    background-color: $colorMenuBack;
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 1rem 0 0 0;
    transition-duration: .3s;
    &:hover{
      box-shadow: 0 3px 15px rgba(0,0,0,0.4);
    }
  }

}

.subFooter{
  background-color: $colorSubMenuBack;
}

.footer{
  background-color: $colorMenuBack;
  &_addressbox{
    font-size: 0.8rem;
    display: block;
    color: white;
    padding: 1rem 2rem 0 0;
    text-align: right;
  }
}
.footerIcons{
  text-align: right;
  padding: 0.5rem 2rem 1rem 2rem;
}

.footerIcon{
  display: inline-block;
  position: relative;
  color:$colorMenuBack;
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem 0 0 0.5rem;
  &_item{
     width: 1rem;
     height: 1rem;
     padding: 0.2rem;
     border-radius: 50%;
     background: #7EC988;
     transition: .3s;
     &:hover{
       background: white;
     }
  }
  &_label{
    position: absolute;
    opacity: 0;
    font-size: 0.8rem;
    top: -2.5rem;
    left: -4.5rem;
    width: 7rem;
    padding: 0.5rem;
    border-radius: 2px;
    background: black;
    color: #fff;
    transition: .3s;
    &:after{
      position: absolute;
      top: 100%;
      left: 5rem;
      height: 0;
      width: 0;
      border: 0.5rem solid transparent;
      border-top: 0.5rem solid black;
      content: "";
    }
  }
  &:hover &_label{
    top: -3rem;
    opacity: 1;
  }
}
