/*
 *  グリッドレイアウトの全体変数を定義
 *  責任者 近藤猛
 */
// ncukonodo@gmail.com
//
//  2016/01/31 近藤作成
//

@mixin makeContainer($class:'gridContainer'){
  //clearfix
  .#{$class}:after {
      content: "";
      display: table;
      clear: both;
  }
}

@function makeAllSelectorList($col:12,$prefix:'grid12-g3-',$postfix:''){
  $selectAll: '';
  @for $i from 1 through $col
  {
      $selector: ".#{$prefix}#{$i}#{$postfix}";
      @if $selectAll != ''{
        $selectAll : "#{$selectAll}, ";
      }
      $selectAll : "#{$selectAll}#{$selector}";
  }
  @return $selectAll;
}

@mixin makeFloatGrid(
  $col:12, $gutter: 3%, $containerClass:'gridContainer', $prefix:'grid12-g3-',
  $prefix-pull:'pull-', $prefix-push:'push-', $prefix-offset:'offset-') {
    $grid: (100% - (($col - 1) * $gutter)) / $col;
    $selectAll: '';

    @for $i from 1 through $col
    {
        $num: $col - $i + 1;
        $selector: ".#{$containerClass} .#{$prefix}#{$num}";
        $width: ($grid * $num) + ($gutter * ($num - 1));
        #{$selector}{
            width: $width;
        }
        .#{$containerClass} .#{$prefix}#{$prefix-push}#{$num}{
            right: $width;
        }
        .#{$containerClass} .#{$prefix}#{$prefix-pull}#{$num}{
            left: $width;
        }
        .#{$containerClass} .#{$prefix}#{$prefix-offset}#{$num}{
            margin-left: $width;
        }
        @if $selectAll != ''{
          $selectAll : "#{$selectAll}, ";
        }
        $selectAll : "#{$selectAll}#{$selector}";
    }

    #{$selectAll}{
      position: relative;
      min-height: 1px;
    }

}
