/*
 *  グリッドレイアウトの全体変数を定義
 *  責任者 近藤猛
 */
// ncukonodo@gmail.com
//
//  2016/01/31 近藤作成
//

@import "gridSystem";
@import "mediaQueries";

$gridSelectorPrefix: 'l-grid12-';
$gridContainerClass: 'l-gridConteiner';
$gridColcount: 12;
$gridGutter: 0%;

@include makeContainer(#{$gridContainerClass});

$xsSelector: makeAllSelectorList($gridColcount,'#{$gridSelectorPrefix}xs-');
$smSelector: makeAllSelectorList($gridColcount,'#{$gridSelectorPrefix}sm-');
$mdSelector: makeAllSelectorList($gridColcount,'#{$gridSelectorPrefix}md-');
$lgSelector: makeAllSelectorList($gridColcount,'#{$gridSelectorPrefix}lg-');

#{$xsSelector},#{$smSelector}, #{$mdSelector}, #{$lgSelector}{
  float: left;
}

@include makeFloatGrid($gridColcount,$gridGutter, #{$gridContainerClass},'#{$gridSelectorPrefix}xs-');

  @media (min-width: $screen-sm-min) {
    @include makeFloatGrid($gridColcount,$gridGutter, #{$gridContainerClass},'#{$gridSelectorPrefix}sm-');
  }
  @media (min-width: $screen-md-min) {
    @include makeFloatGrid($gridColcount,$gridGutter, #{$gridContainerClass},'#{$gridSelectorPrefix}md-');
  }
  @media (min-width: $screen-lg-min) {
    @include makeFloatGrid($gridColcount,$gridGutter, #{$gridContainerClass},'#{$gridSelectorPrefix}lg-');
  }
