@font-face {
  font-family: "iconfont";
  src: url("../../icons/fonts/iconfont.eot");
  src: url("../../icons/fonts/iconfont.eot?#iefix") format('eot'), url("../../icons/fonts/iconfont.woff") format('woff'), url("../../icons/fonts/iconfont.ttf") format('truetype'), url("../../icons/fonts/iconfont.svg#iconfont") format('svg');
  font-weight: normal;
  font-style: normal;
}
