/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */@font-face {
  font-family:'NotoSansMini';font-weight:100;src:local(NotoSansJP-Light.otf);src:url("../webfonts/GenShinGothic-P--Light.eot");src:url("../webfonts/GenShinGothic-P--Light.eot?#iefix") format('eot'), url("../webfonts/GenShinGothic-P--Light.woff") format('woff'), url("../webfonts/GenShinGothic-P--Light.ttf") format('truetype');
}

@font-face {
  font-family:'NotoSansMini';font-weight:400;src:local(NotoSansJP-Regular.otf);src:url("../webfonts/GenShinGothic-P--Regular.eot");src:url("../webfonts/GenShinGothic-P--Regular.eot?#iefix") format('eot'), url("../webfonts/GenShinGothic-P--Regular.woff") format('woff'), url("../webfonts/GenShinGothic-P--Regular.ttf") format('truetype');
}

@font-face {
  font-family:'NotoSansMini';font-weight:700;src:local(NotoSansJP-Bold.otf);src:url("../webfonts/GenShinGothic-P--Bold.eot");src:url("../webfonts/GenShinGothic-P--Bold.eot?#iefix") format('eot'), url("../webfonts/GenShinGothic-P--Bold.woff") format('woff'), url("../webfonts/GenShinGothic-P--Bold.ttf") format('truetype');
}
