// 責任者: 近藤
// ncukonodo@gmail.com
// baseに関する記述
//
//  2016/01/25 作成

@require "_variables"; // 共通設定を読み込み

// 外部よりのライブラリはlibsディレクトリより取り込み
@require "libs/_notosansjapanese"; // Noto-Sansをベースフォントとする
@require 'libs/_normalize';// normalizeを使用するためcompass-normalize使用(https://necolas.github.io/normalize.css/3.0.3/normalize.css)

// baseの記述(SMACSSの概念)

body{
  font-family: $fontBase;
  font-weight: 300;
  box-sizing: border-box;
  background: $colorPrimaryBack;
}
h1{
  font-family: $fontBase;
  font-weight: 200;
}
li{
  list-style: none;
}

address{
  font-style: normal;
}

header, nav, h1, ul{
  padding:0;
  margin:0;
}

a{
  text-decoration: none;
  color:inherit;
}
