/*
 *  サイト全体変数を定義
 *  責任者 近藤猛
 */
// ncukonodo@gmail.com
//
//  2016/01/31 近藤作成
//

// ディレクトリに関する変数
$dirImage = "../../images";
$dirIconFont = "../../icons/fonts"

// フォントを設定
$fontBase = 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ', Helvetica,  sans-serif;


// 色に関する変数
$colorPrimaryText = #000000;
$colorAccentText = #004F21;
$colorAccent = #bf7902;
$colorPrimaryBack = #ffffff;
$colorBack2 = #dddddd;
$colorBack3 = #96D28E;
$colorMenuBackTrans = rgba(0,82,33,0.9);
$colorSubMenuBack = #5D915D;//#004F21;
$colorMenuBack = #2F4B33; //#395939;//#004F21;
$colorMenuText1 = #ffffff;
$colorMenuText2 = rgba(255,255,255,0.6);
$colorGrayText = #cccccc;
$colorHighlightText = #7EC988;
$colorAccentBack = #395939;
$colorAccentBackText = #ffffff;
$colorDarkAreaText = #ffffff;

$gridDefaultCol = 12;

// スクリーンの横幅に関する変数(主にはbootstrap3に習う)
// Width
$width-largepc = 1170px;
$width-pc = 940px;
$width-tablet = 768px;
$width-smartphone = 480px;
$width-scrollbar = 20px;

// スマートフォン
$screen-xs =                  480px;
$screen-xs-min =              $screen-xs;
$screen-phone =               $screen-xs-min;

// タブレット
$screen-sm =                  768px;
$screen-sm-min =              $screen-sm;
$screen-tablet =              $screen-sm-min;

// PC
$screen-md =                  992px;
$screen-md-min =              $screen-md;
$screen-desktop =             $screen-md-min;
$screen-pc =             $screen-md-min;

// 大きなPC
$screen-lg =                  1200px;
$screen-lg-min =              $screen-lg;
$screen-lg-desktop =          $screen-lg-min;
$screen-largePC =             $screen-lg-min;

$screen-xs-max =              ($screen-sm-min - 1);
$screen-sm-max =              ($screen-md-min - 1);
$screen-md-max =              ($screen-lg-min - 1);
$screen-phone-max =           ($screen-sm-min - 1);
$screen-tablet-max =          ($screen-md-min - 1);
$screen-pc-max =              ($screen-lg-min - 1);
