//
//  gulpのタスク gulp iconfileによって自動生成
//  配下のsvgファイルから自動生成
//  テンプレートファイルは "./src/iconfont/templates/_iconfont.styl"に置いてある
//
//  責任者: 近藤猛
//  2016/02/12 作成(近藤)
@require "../_variables" //フォントディレクトリなど共通設定読み込み

@font-face {
  $__fontformat = '%s/iconfont.%s';
  $__eot = $__fontformat % ((unquote($dirIconFont)) unquote('eot'))
  $__eotie = $__fontformat % ((unquote($dirIconFont)) unquote("eot?#iefix"))
  $__woff = $__fontformat % ((unquote($dirIconFont)) unquote('woff'))
  $__truetype = $__fontformat % ((unquote($dirIconFont)) unquote('ttf'))
  $__svg = $__fontformat % ((unquote($dirIconFont)) unquote('svg#iconfont'))
  font-family: "iconfont";
  src: url($__eot);
  src: url($__eotie) format('eot'),
    url($__woff) format('woff'),
    url($__truetype) format('truetype'),
    url($__svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

$iconCode = {
   double-down:  "\EA01"
   double-left:  "\EA02"
   double-right:  "\EA03"
   double-up:  "\EA04"
   email:  "\EA05"
   facebook:  "\EA06"
   home:  "\EA07"
   keyboard_arrow_down:  "\EA08"
   keyboard_arrow_left:  "\EA09"
   keyboard_arrow_right:  "\EA0A"
   keyboard_arrow_up:  "\EA0B"
   mail:  "\EA0C"
   new-window:  "\EA0D"
   pin:  "\EA0E"
   play-youtube:  "\EA0F"
   play:  "\EA10"
   rss:  "\EA11"
   twitter:  "\EA13"
   share:  "\EA12"

}

_iconFont($code)
  __helper()
  $code = $iconCode[$code]
  content '%s' % $code

_iconFonts($prefix, $fontcodes)
  $prefix = unquote($prefix)
  _iconPrefix($prefix)
  for $code in $fontcodes
    $className = '.%s%s:before' % ($prefix unquote($code))
    $code = $iconCode[$code]
    {$className}
      content '%s' % $code


_iconCommon($prefix = '')
  _iconBeforeCommon()

_iconPrefix($prefix = '')
  _iconBeforeCommon($prefix)

_iconBeforeCommon($prefix = '')
  __iconBeforeAfterCommon($prefix,'before');

_iconAfterCommon($prefix = '')
  __iconBeforeAfterCommon($prefix,'after');


__helper()
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;


__iconBeforeAfterCommon($prefix = '',beforeAfter)
    if $prefix != ''
      $selector = "[class*=' %s']:%s,  [class^='%s']:%s" % (unquote($prefix) unquote(beforeAfter) unquote($prefix) unquote(beforeAfter))
      {$selector}
        __helper()
    else
      &:{beforeAfter}
        __helper()

_iconBefore($code, $commonPrefix = false)
  if $commonPrefix == false
    _iconBeforeCommon()
  &:before
    content: $iconCode[$code]_iconAfter($code, $commonPrefix = false)  if $commonPrefix == false    _iconAfterCommon()  &:after    content: $iconCode[$code]