@require "_mediaQueries"; // メディアクエリ読み込み


// 親要素のホバーにマッチするセレクター
_parentHover($depth = 1)
  $__selectors = split(' ', selector())
  $__parent = ''
  for $i in 1..$depth
    $__parent = $__parent + '../'
  {$__parent}:hover {$__selectors[length($__selectors) - $depth]}
    {block}

// 擬似要素に対応したホバー
_hover()
  if match('\:after$', selector()){
    ../:hover::after{
      {block}
    }
  }else{
    if  match('\:before$', selector()){
      ../:hover::before{
        {block}
      }
    }else{
        &:hover{
          {block}
        }
    }
  }

size($width, $height = $width)
  +cache('w' + $width)
    width: $width
  +cache('h' + $height)
    height: $height

_linerList($media='')
  +_media($media)
    display: flex;
    vertical-align:middle;

_centerBox($media='')
  +_media($media)
    display: block;
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;



__pos(type, args)
  i = 0
  position: unquote(type)
  {args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
  {args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

absolute()
  __pos('absolute', arguments)

fixed()
  __pos('fixed', arguments)
